*{
    margin: 0% ;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*root*/
:root{
    /*fuente*/
    --font-family: 'garbata';
    --font-size: 3rem;
    --font-color: rgba(206, 105, 253, 0.74);
    /*botones*/
    --color-button: #f2a8fcb2;
    /*iconos/footer*/
    --icon-size: 70px;
}

/*fuentes*/
@font-face{
    font-family: 'garbata';
    src:url(../font/garbata-trial-cufonfonts/GarbataTrial-Regular.ttf) ; 
}
h2{
    font-family: var(--font-family);
    color: black;
    margin: 50px;
    font-size: 50px;
    text-align: auto;
    letter-spacing: 3px;
    padding-top: 20px;
}
h3{
    font-family: var(--font-family);
    color: var(--font-color);
}
p{
    font-family:'Montserrat', sans-serif;
    color: black;
}

/*header / nav*/
header{
    height: 70px;
    background: #e9a9f1b2;
    color: #fff;
    
}

/*pagina nuestros productos*/
.fotos-nuestros-productos{
    width: 300px;
    margin: 20px;
    
    }
.nuestros-productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.descripcion-menu{
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    color: violet;
}

    


/*seccion video*/
.section-video{
    background-color: #f2a8fc85;
    border-radius: 20px;
    padding-top: 2rem;
    margin: 60px 40px;
    justify-content: center;

}
.video{
    width: 80%;
}
/*seccion servicios*/
.fondo-servicios{
    background-image: url(../images/fondo/fondo-rosa-pastel.jpg);
    border-radius: 20px;
    padding: 40px;
    margin: 60px 40px;
    justify-content: center;
    text-align: center;
}
.imagen{
    width: 50%;
    justify-content: center;
}
.image-contacto{
    width: 70%;
}
/*seccion como comprar*/
.descripcion-comprar{
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    color: violet;
    
}
.como-comprar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    padding-bottom: 40px;
    }
.div-area{
    width: auto;
}
.image-comprar{
    width: 500px;
}
/* boton especial*/
.button-css {
    --color-button: #f2a8fcb2;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color-button);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color-button);
    margin:auto;
    
   }
   
   .button-css:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color-button);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .button-css:hover {
    color: #fff;
   }
   
   .button-css:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .button-css:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .button-css:active:before {
    background: #eb96f7b2;
    transition: background 0s;
   }
   /*carouseles*/
.slide{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 600px;
    justify-content: center;
 }
.slide img{
    width: 600px;
    justify-content: center;
 }
 header{
    height: 70px;
    background: #f2a8fcb2;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*footer */
.instagram{
    width: 60px;
           
}
.facebook{
    width: 60px;
}
.maps{
   width: 40px;
}
.phone{
   width: 40px;
}
.gmail{
   width: 40px;
}
.footer{
   background-color: #f2a8fcb2;
   padding: 60px;
}
/*imagenes*/
.logo{
    height: 60px;
    display: flex;
    justify-content: left;
    border-radius: 0%;
    padding-top: 0%;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.pastas{
    width: 350px;
}
.p-vegan{
    width: 350px;
}
.p-tradicional{
    width: 350px;
}
.nuestros-productos{
    padding-bottom: 30px;
    text-align: center;
}

/*contactanos*/
.formulario{
    margin: 30px 80px 60px 80px;
    padding: 50px;
}

/*galerias*/
.nuestras-tortas{
    align-items: center;
}

/*html servicios*/
.servicios{
    align-items: center;
    size-adjust: auto;
    text-align: center;
    padding-top: 10px;

}
.image-servicios{
    max-width: 500px;
}
/*mediaq*/
 
        
        
    
        
        
        
        
        /*imagenes menu principal*/
        .fotos-nuestros-productos{
            width: 250px;
            justify-content: center;
        }
        
        

        
        body{
            background-color:#f7e3fab2;
        }
            
}
        
            





