@charset "UTF-8";
/*header / nav*/
header {
  height: 70px;
  background: #e9a9f1b2;
  color: #fff;
}

.footer-distributed {
  background: #f2a8fcb2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: "garbata" 16px sans-serif;
  padding: 55px 50px;
}
.footer-distributed .footer-left {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
.footer-distributed .footer-center {
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* mö pasteleria logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "garbata", cursive;
  margin: 0;
}
.footer-distributed h3 span {
  color: black;
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.icon-center {
  color: #222;
}

.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center i {
  color: #33383b;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: violet;
  text-decoration: none;
}

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: black;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 25px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* mediaq */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
.footer2 {
  background-color: #020202;
}
.footer2 .footer-image {
  width: 660px;
}
.footer2 .footer-text {
  justify-content: center;
  align-content: center;
}
.footer2 h5 {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* boton especial*/
.button-css {
  --color-button: #f2a8fcb2;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color-button);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color-button);
  margin: auto;
}
.button-css:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color-button);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.button-css:hover {
  color: #fff;
}

.button-css:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.button-css:hover:before {
  top: -30px;
  left: -30px;
}

.button-css:active:before {
  background: #eb96f7b2;
  transition: background 0s;
}

/*carouseles*/
.slide {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 600px;
  justify-content: center;
}
.slide img {
  width: 600px;
  justify-content: center;
}

/*seccion como comprar*/
/*como comprar*/
.como-comprar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  padding-bottom: 40px;
  align-content: center;
}

h2 {
  font-family: "garbata";
  margin: 20px;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 15px;
}

h1 {
  font-family: "garbata";
  margin: 40px;
  font-size: 50px;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 25px;
}

.descripcion-comprar {
  text-align: center;
  font-family: "garbata";
  font-size: 20px;
  color: violet;
}

.image-comprar {
  width: 450px;
}

.title {
  justify-content: center;
  align-items: center;
}

.como-comprar {
  padding-top: 10%;
}

.div-area {
  width: auto;
  max-width: 150px;
}

@media screen and (max-width: 480px) {
  .image-comprar {
    width: 250px;
  }

  .como-comprar {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    padding-bottom: 40px;
    align-content: center;
    justify-content: center;
    padding-left: 100px;
  }

  .div-area {
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .nuestros-productos {
    flex-direction: column;
    justify-content: center;
  }
}
/*seccion servicios*/
.fondo-servicios {
  background-image: url(../images/fondo/fondo-rosa-pastel.jpg);
  border-radius: 20px;
  padding: 40px;
  margin: 60px 40px;
  justify-content: center;
  text-align: center;
}
.fondo-servicios .imagen {
  width: 50%;
  justify-content: center;
  padding-bottom: 5%;
}
.fondo-servicios .parrafo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

.image-contacto {
  width: 70%;
}

@media screen and (max-width: 930px) {
  .logo-servicios {
    height: max-content;
  }

  .fondo-servicios {
    background-image: url(../images/fondo/fondo-rosa-pastel.jpg);
    border-radius: 20px;
    justify-content: center;
    text-align: center;
  }

  .parrafo {
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: black;
  }
}
@media screen and (max-width: 480px) {
  .fondo-servicios {
    justify-content: center;
    text-align: center;
  }

  .parrafo {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
}
/*contactanos*/
.formulario {
  margin: 30px 80px 60px 80px;
  padding: 50px;
}

@media screen and (max-width: 480px) {
  .formulario {
    margin: 0%;
    padding: 50px;
  }
}
/*html servicios*/
.servicios {
  align-items: center;
  size-adjust: auto;
  text-align: center;
  padding-top: 20px;
}
.servicios .image-servicios {
  max-width: 500px;
  border-radius: 50%;
}
.servicios .image-servicios-bottom {
  max-width: 500px;
  padding-bottom: 20px;
  border-radius: 50%;
}

/*seccion video*/
.section-video {
  background-color: #f2a8fc85;
  border-radius: 20px;
  padding-top: 2rem;
  margin: 60px 40px;
  justify-content: center;
}
.section-video .video--div {
  justify-content: center !important;
}
.section-video .video--div .video {
  max-width: 80%;
  padding: 2rem;
  margin-left: 10%;
  justify-content: center !important;
}

@media screen and (max-width: 480px) {
  .section-video {
    align-content: center;
  }
}
/*pagina nuestros productos*/
.nuestros-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nuestros-productos .nuestros-productos--div {
  width: 300px;
  margin: 30px;
}
.nuestros-productos .image-menu {
  border-radius: 20%;
}
.nuestros-productos .descripcion-menu {
  text-align: center;
  font-family: "garbata";
  font-size: 20px;
  color: violet;
}

@media screen and (max-width: 480px) {
  .nuestros-productos {
    display: flex;
    flex-direction: column;
  }

  .fotos-nuestros-productos {
    width: 250px;
    justify-content: center;
  }
}
/*imagenes*/
.logo {
  height: 60px;
  display: flex;
  justify-content: left;
  border-radius: 0%;
  padding-top: 0%;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.nuestros-productos--div {
  padding-bottom: 30px;
  text-align: center;
  align-content: center;
}

@media screen and (max-width: 930px) {
  .imagen-map {
    flex-direction: column;
  }
}
@font-face {
  font-family: "garbata";
  src: url(../font/garbata-trial-cufonfonts/GarbataTrial-Regular.ttf);
}
h2 {
  color: rgba(206, 104, 253, 0.74);
  font-family: "garbata";
}

h1 {
  color: rgba(206, 104, 253, 0.74);
  font-family: "garbata";
}

.parrafo {
  font-family: "garbata";
  color: #961c96;
}

@media screen and (max-width: 480px) {
  h3 {
    font-size: 2em;
  }

  h2 {
    color: rgba(206, 104, 253, 0.74);
    font-family: "garbata";
    font-size: 1rem;
    text-align: center;
    margin: 5%;
  }

  .descripcion-menu {
    font-size: 2rem;
  }

  .parrafo {
    font-size: 1rem;
  }

  .descripcion-comprar {
    font-size: 30px;
  }
}
@media screen and (max-width: 930px) {
  h3 {
    font-size: 20px;
  }

  h2 {
    font-family: "garbata";
    color: rgba(206, 104, 253, 0.74);
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;
  }
}
.disclaimer {
  display: none;
}

.que-usamos .cards {
  display: flex;
  justify-content: space-around;
}
.que-usamos .cards .card {
  background-color: violet;
}
.que-usamos .cards .card .card-text {
  color: white;
  font-family: "garbata";
}
.que-usamos .cards .card .card-list {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  list-style: square;
}
.que-usamos .logo-organico {
  max-width: 300px;
}
@media screen and (max-width: 840px) {
  .que-usamos .cards {
    margin: 15px !important;
  }
  .que-usamos .cards .card {
    margin: 15px !important;
  }
}

/*# sourceMappingURL=style.css.map */
