/* boton especial*/
.button-css {
    --color-button: #f2a8fcb2;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color-button);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color-button);
    margin:auto;
    
   }
   
   .button-css:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color-button);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .button-css:hover {
    color: #fff;
   }
   
   .button-css:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .button-css:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .button-css:active:before {
    background: #eb96f7b2;
    transition: background 0s;
   }