/*seccion como comprar*/
@import '../base/extend';
.title{
    justify-content: center;
    align-items: center;
    }
.image-comprar{
    @extend %widthImagenes;
}
    
.como-comprar{
    @extend %comoComprar;
    padding-top: 10%;
}
.div-area{
    width: auto;
    max-width: 150px;
}
.descripcion-comprar{
    @extend %descripcionComprar;
}

    
@media screen and (max-width:480px){
    .image-comprar{
        width: 250px;
    }
    .como-comprar{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        padding-bottom: 40px;
        align-content: center;
        justify-content: center;
        padding-left: 100px;
        }
    .div-area{
        width: auto;
        justify-content: center;
        align-items: center;
    }
    .nuestros-productos{
        flex-direction: column;
        justify-content: center;
        
    }
}
    

