.footer-distributed{
	background: #f2a8fcb2;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: 'garbata' 16px sans-serif;
	padding: 55px 50px;
	
	.footer-left{
		display: inline-block;
		vertical-align: top;
		width: 40%;
	}
	.footer-center{
		display: inline-block;
		vertical-align: top;
	}
	.footer-right{
		display: inline-block;
		vertical-align: top;
	}
}

/* mö pasteleria logo */

.footer-distributed{
	h3{
		color:  #ffffff;
		font: normal 36px 'garbata', cursive;
		margin: 0;
		span{
			color:  black;
		}
	}
} 

/* Footer links */

.footer-distributed{
	.footer-links{
		color:  #ffffff;
		margin: 20px 0 12px;
		padding: 0;
		
		a{
		display:inline-block;
		line-height: 1.8;
  		font-weight:400;
		text-decoration: none;
		color:inherit;
		&:before {
			content: "|";
			font-weight:300;
			font-size: 20px;
			left: 0;
			color: #fff;
			display: inline-block;
			padding-right: 5px;
		  }
		}
		.link-1:before {
			content: none;
		  }
	}
	.footer-company-name{
		color:  #222;
		font-size: 14px;
		font-weight: normal;
		margin: 0;
	}

} 
/* Footer Center */

.icon-center{
    color: #222;
}
.footer-distributed{
	.footer-center{
		width: 35%;
	
		i{
		color:#33383b;
		font-size: 25px;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		text-align: center;
		line-height: 42px;
		margin: 10px 15px;
		vertical-align: middle;
		}
		p{
			display: inline-block;
			color: #ffffff;
		  font-weight:400;
			vertical-align: middle;
			margin:0;

			span{
				display:block;
				font-weight: normal;
				font-size:14px;
				line-height:2;
			}
		
			a{
				color:  violet;
				text-decoration: none;;
			}
		}
	
	}

} 

/* Footer Right */

.footer-distributed{
	.footer-right{
		width: 20%;
	}
	.footer-company-about{
		line-height: 20px;
		color:  black;
		font-size: 13px;
		font-weight: normal;
		margin: 0;
		
		span{
			display: block;
			color:  #ffffff;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 20px;
		}
	}
	.footer-icons{
		margin-top: 25px;

		a{
			display: inline-block;
			width: 35px;
			height: 35px;
			cursor: pointer;
			background-color:  #33383b;
			border-radius: 2px;
		
			font-size: 20px;
			color: #ffffff;
			text-align: center;
			line-height: 35px;
		
			margin-right: 3px;
			margin-bottom: 5px;
		}
		
	}
} 


/* mediaq */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed{
		.footer-left{
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}
		.footer-center{
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
			
			i{
				margin-left: 0;
			}
		}
		.footer-right{
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
		}

	} 
	
}
.footer2{
	background-color: rgb(2, 2, 2);
	

	.footer-image{
		width: 660px;
	}
	.footer-text{
		justify-content: center;
		align-content: center;
		
		
	}
	h5{
		color: #fff;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
}
