.mohechoencasa{
    width: 130px;
    padding: 11px;
            
}
.instagram{
     width: 60px;
            
}
.facebook{
     width: 60px;
}
.maps{
    width: 40px;
}
.phone{
    width: 40px;
}
.gmail{
    width: 40px;
}
.footer{
    background-color: #f2a8fcb2;
    padding: 60px;
}
