/*pagina nuestros productos*/
.nuestros-productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    .fotos-nuestros-productos{
        width: 300px;
        margin: 20px;
        }
    
    .descripcion-menu{
        text-align: center;
        font-family: 'garbata';
        font-size: 20px;
        color: violet;
        }    
        
}
@media screen and (max-width:480px) {
    .nuestros-productos{
        display: flex;
        flex-direction: column;
    }   
    .fotos-nuestros-productos{
        width: 250px;
        justify-content: center;
        }
    
    }






