/*html servicios*/
.servicios{
    align-items: center;
    size-adjust: auto;
    text-align: center;
    padding-top: 20px;
    padding-top: 20px;
    .image-servicios{
        max-width: 500px;
    }
}

