@font-face{
    font-family: 'garbata';
    src:url(../font/garbata-trial-cufonfonts/GarbataTrial-Regular.ttf) ; 
}


$colorFuente: hsla(281, 97%, 70%, 0.74);
$colorFondo: #f2a8fcb2;
$baseFontFamily:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fontfamily: 'garbata';